*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(gs.jpg) center/cover;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: lightcoral;
    backdrop-filter: blue(25px);
    padding: 70px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border-radius: 35%;
}
header{
    font-size: 30px;
}
.form-wrapper{
    display: flex;
    align-items: center;
}
